<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
    <h1>test</h1>
<div id="map" style="width:800px;height:600px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a31ea3e295fc7de01edd2da4e1d9d7ad&libraries=services,clusterer,drawing"></script>
<script>
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(37.65197, 127.015871),
        level: 4
    };
    var map = new kakao.maps.Map(container, options);
    var markerPosition = new kakao.maps.LatLng(37.651363,127.013831);
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });


    marker.setMap(map);
</script>

</body>
</html>