 <!-- ====== Header Start ====== -->
   <header class="ud-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg">
          <!--dukpoint 로고-->
          <img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo" />
          </a>
          <button class="navbar-toggler">
            <span class="toggler-icon"> </span>
            <span class="toggler-icon"> </span>
            <span class="toggler-icon"> </span>
          </button>

          <div class="navbar-collapse">
            <ul id="nav" class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="ud-menu-scroll" href="#home">매장안내</a>
              </li>

              <li class="nav-item">
                <a class="ud-menu-scroll" href="#about">후기서비스</a>
              </li>
              <li class="nav-item">
                <a class="ud-menu-scroll" href="#pricing">마이페이지</a>
              </li>
            </ul>
          </div>
           <ui class="nav-item">
                <a class="bi bi-person fa-2x" style="font-size: 30px;" href="login.html"></a>
           </ui>
        </nav>
      </div>
    </div>
  </div>
</header>
    <!-- ====== Header End ====== -->
